* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}

h1 {
    text-align: center;
    padding: 60px;
}

h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 1.7em;

}

h4 {
    text-align: center;
    padding: 30px 10px 10px;
    font-size: 1.2em;
    color: #e2e0bd;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    width: 200px;
    list-style: none;
    padding: 15px;
    margin: 20px;
    transition: all .2s ease-in-out;
}

li:hover {
    transform: scale(1.05);
}

li a {
    text-decoration: none;
}

li a:hover * {
    color: #9ec8e2;
}

svg {
    fill: white;
}

li a img {
    padding-bottom: 10px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

li a h3 {
    font-size: 1em;
    padding: 10px 0;
    color: #e2e0bd;
    word-wrap: break-word;
}

li a p {
    font-size: 0.8em;
    color: #fdfdffad;
    word-wrap: break-word;
}

/** GENERAL STYLES **/

em {
    display: none;
}

#animation {
    position: fixed;
    top: 0;
    z-index: -100;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}


/** INDEX STYLES **/

ul:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding-bottom: 30px;
}

ul:first-of-type li {
    border: none;
    margin: 2px;
    padding: 0;
    color: #e2e0bd;
}

ul:first-of-type li ul {
    border: none;
    margin-left: 10px;
    padding: 0;
}

p:first-of-type {
    line-height: 1.5;
    margin-bottom: 40px;
}