/*****************
 * GLOBAL STYLES *
 *****************/

/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Livvic:200,400,500,700|Spectral:800&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Livvic', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
